.feedback {
    /* background-color: red; */
    text-align: center;
    font-size: 24px;

    color: var(--color-secondary);

    border: 3px solid;
    padding: var(--default-pad);

    border-radius: var(--default-radius);
    
    animation-name: openFeed;
    animation-duration: 1s;
    
    transition: .7s box-shadow ease-in-out;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.feedback:hover {
    box-shadow: 0 0 0 0;
}

@keyframes openFeed {
    0% {
        transform: scale(.8);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);

    }
}