@import url("./form.css");
@import url("./button.css");
@import url("./infos.css");
@import url("./popup.css");
@import url("./input.css");
@import url('./feedback.css');

:root {
    /* Colors */
    --color-primary: rgb(128 76 205);
    --color-secondary: rgb(0 48 137);
    --color-black: rgb(0,0,0);
    --color-success: rgb(87 178 87);
    --color-warning: rgb(240 100 49);
    
    /* backgrounds */
    --bg-primary: var(--color-secondary);
    --bg-secondary: var(--color-primary);
    
    /* radius */
    --default-radius: 6px;
    
    /* gap */
    --default-gap: 16px;
    --gap-medium: 6px;
    
    /* padding */
    --default-pad: 16px;
    --medium-pad: calc(var(--default-pad) / 2);
    --min-pad: calc( var(--medium-pad) / 2 );
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    /* background-color: var(--bg-primary); */
    color: var(--color-primary);

    font-family: sans-serif, Arial, Helvetica ;

    background-image: url("../images/nature-night-sky-star.jpeg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
    max-width: 690px;
    margin: 8px auto;

    border-radius: var(--default-radius);
    background-color: rgba(0, 0, 0, .8);

    box-shadow: 4px 4px 4px 0px rgb(21 21 21 / 39%);
    overflow: hidden;
}

